header{
    position: relative;
    display: flex;
    padding: 0.5rem 3rem;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: -1rem;
}
header p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: purple;
}
header img{
    height: 90px;
    width: 90px;
}
.meme{
    display: block;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    padding: 0;
}
.meme img{
    height: 450px;
    width: auto;
}

form button{
    background-color: purple;
    border: none;
    color: white;
    box-shadow: 7px 7px 10px rgba(128, 0, 128, 0.4);
    padding: 0.75rem 1rem;
}

.meme {
    position: relative;
    /* width: 90%; */
    margin: auto;
}


.meme > h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.meme > .bottom {
    bottom: 0;
}

.meme > .top {
    top: 0;
}
@media(max-width:600px){
    header{
        padding: 1rem 2rem 0 2rem;
        margin-bottom: -1rem;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    form input{
        margin: 0.5rem 1rem;
    }
    form button{
        margin-top: 7px;
        margin-left: 3%;
        align-items: center;
        width: 94%;
        box-shadow: 7px 7px 10px rgba(128, 0, 128, 0.4);
    }
    header p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2.1rem;
        font-weight: 600;
    }
    .meme{
        margin-top: 1rem;
        /* padding: 2rem 0; */
    }
    .meme img{
        height: 300px;
        width: 400px;
    }
}
form{
    margin-top: 2rem;
}
form input{
    text-transform: capitalize;
    margin: 0.5rem;
    font-family: cursive;
    padding: 0.5rem 1rem;
}